.collapse-icon {
  transform: rotate(45deg);
  position: absolute;
  right: -4px;
  top: 30px;
  font-size: 18px;
  cursor: pointer;
}

.summary-container {
  .summary {
    .title-text {
      font: 28px Helvetica;
      color: #919595;
      font-weight: 200;
      background: #eaf3f8;
      padding: 1px 5px;
    }

    .body {
      padding: 5px;
      display: flex;
      flex-direction: row;
      background: #d5e7f1;

      .no-summary {
        color: #474e4f;
        font: 25px Helvetica;
        font-weight: 200;
      }

      .left-section {
        margin-right: 10px;

        .length {
          font: 135px Helvetica;
          color: #0588ac;
          font-weight: 200;
        }

        .notes-text {
          color: #474e4f;
          font: 25px Helvetica;
          font-weight: 200;
        }
      }

      .right-section {
        margin-left: 10px;
        margin-top: 24px;
        font: 18px Helvetica;
        font-weight: 200;

        .last-updated-time-text,
        .last-updated-note-text {
          color: #474e4f;
        }

        .last-updated-time,
        .last-updated-note {
          color: #0087af
        }

        .last-updated-note-container {
          margin-top: 20px;
        }
      }
    }
  }
}
